<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cube3Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Cube3Editor.Properties.Settings>
            <setting name="PreserveOriginalCube3File" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateBackupFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxBackupFiles" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ZeroTemperatureAllowed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxTemperatureAllowed" serializeAs="String">
                <value>265</value>
            </setting>
            <setting name="MinimizeCube3FileSize" serializeAs="String">
                <value>False</value>
            </setting>
        </Cube3Editor.Properties.Settings>
    </userSettings>
</configuration>